
/API/IMS/.vs/IMS/v17
/API/IMS/IMS.Api/obj/Debug/net8.0
/API/IMS/IMS.Api/obj
API/IMS/IMS.Api/IMS.Api.csproj.user
/API/IMS/.vs/IMS/FileContentIndex
/API/IMS/IMS.Application/obj/Debug/net8.0
/API/IMS/IMS.Application/obj
/API/IMS/IMS.EntityFrameworkCore/obj
/API/IMS/IMS.Domain/obj/Debug/net8.0
/API/IMS/IMS.Domain/obj
*.TMP
/API/IMS/IMS.EntityFrameworkCore/bin/Debug/net8.0
/API/IMS/IMS.Api/bin/Debug/net8.0
/API/IMS/IMS.Application/bin/Debug/net8.0
/API/IMS/IMS.Domain/bin/Debug/net8.0
/API/IMS/.vs/IMS/config
